@charset "UTF-8";
/*! Itsy by FreeHTML5

/* ==========================================================================
    0 Resets & Box Sizing
  ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

ins {
  background-color: #ff9;
  color: #333;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #333;
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: 700;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
}

textarea {
  overflow: auto;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

button {
  width: auto;
  overflow: visible;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

em, i {
  font-style: oblique;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-font-smoothing: aliased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
		0.2 Tables
	========================================================================== */
table {
  max-width: 100%;
}

table, table td, table th {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table td, table th {
  padding: 10px;
}

table th {
  background: #f3f3f3;
  font-weight: 700;
}

table tr:nth-child(odd) td {
  background: #f9f9f9;
}

/* ==========================================================================
			0.3 Code etc.
	========================================================================== */
li {
  margin-left: 2rem;
}

dl {
  margin: 1.6em 0;
}

dl dt {
  float: left;
  width: 200px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 220px;
  margin-bottom: 1em;
}

mark {
  background-color: #ffc336;
}

code, tt {
  padding: 0 4px;
  font-family: "Courier New", monospace, sans-serif;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  border-radius: 2px;
  display: inline-block;
}

pre {
  margin: 0 0 20px 0;
  border: 1px solid #E3EDF3;
  width: 96%;
  padding: 20px;
  font-family: "Courier New", monospace, sans-serif;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}

h2 + pre {
  margin-top: 20px;
}

pre code, tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

/* ==========================================================================
		0.Forms
	========================================================================== */
::-webkit-input-placeholder {
  color: #737171;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #737171;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #737171;
}

:-ms-input-placeholder {
  color: #737171;
}

input[type="text"], input[type="url"], input[type="email"],
input[type="tel"], input[type="password"], textarea {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
  width: auto;
  padding: 1em 0.75em;
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  color: #737171;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

input[type="submit"], button {
  -webkit-appearance: none;
  background-color: transparent;
  font-size: 20px;
  font-size: 2rem;
}

input[type="text"]:hover, input[type="url"]:hover, input[type="email"]:hover,
input[type="tel"]:hover, input[type="password"]:hover, textarea:hover {
  color: #737171;
  background-color: rgba(0, 0, 0, 0.09);
}

input[type="text"]:focus, input[type="url"]:focus, input[type="email"]:focus,
input[type="tel"]:focus, input[type="password"]:focus, textarea:focus {
  color: #737171;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.11);
}

select {
  width: 100%;
}

/* ==========================================================================
    0.5 Defaults
  ========================================================================== */

.sticky {
  font-style: normal;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* ==========================================================================
	1. Global styles
	========================================================================== */

@font-face {
  font-family: "Knewave";
  src: url("/fonts/Knewave-Regular.ttf");
  font-display: swap; /* Optimization recommended by webpagetest.org */
}
@font-face {
  font-family: "YesevaOne";
  src: url("/fonts/YesevaOne-Regular.ttf");
  font-display: swap; /* Optimization recommended by webpagetest.org */
}
@font-face { /* latin */
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/AmaticSC-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap; /* Optimization recommended by webpagetest.org */
}
@font-face { /* latin */
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/AmaticSC-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap; /* Optimization recommended by webpagetest.org */
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #737171;
}

a, a h1, a h2 {
  text-decoration: none;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.main {
  max-width: 80rem;
  margin: 0 auto;
}

.bgs {
  position: relative;
}
.bgs:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(/img/bg/brush03.png) top right / 40rem no-repeat;
  width: 40rem;
  height: 30rem;
  top: 10vh;
  right: -8rem;
  opacity: .85;
}
.bgs:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(/img/bg/brush12.svg) top right / 14.7rem no-repeat;
  width: 14.7rem;
  height: 24.8rem;
  top: 40vh;
  left: -4rem;
  opacity: .5;
  transform: rotate(20deg);
}
.bgs > *:first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(/img/bg/brush04.webp) top right / 19.3rem no-repeat;
  width: 19.3rem;
  height: 27rem;
  top: 100vh;
  right: -2rem;
  opacity: .5;
}
.bgs > *:first-child:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(/img/bg/brush01.webp) top left / 23rem no-repeat;
  width: 23rem;
  height: 27rem;
  top: 160vh;
  left: -5rem;
  opacity: .5;
}

.sidebar-off .wrap.full-wrap {
  max-width: 916px;
  padding: 0;
}

header.header {
  background-color: #fdf1ec;
  position: relative;
  display: block;
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
  z-index: 6;
}
header.header i.fa {
  font-size: 17px;
  font-size: 1.7rem;
  display: inline-block;
  vertical-align: middle;
}
header.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header.header .header-wrap {
  position: relative;
  display: table;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}
header.header a.menu-trigger {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  padding: 5px 7px;
}
header.header a.menu-trigger, header.header .logo {
  position: relative;
  z-index: 5;
}
header.header nav {
  text-align: right;
  position: absolute;
  left: -9999em;
  opacity: 0;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
header.header nav .site-title {
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: none;
}
header.header nav ul li {
  display: inline;
  margin-left: 1em;
  position: relative;
}
header.header nav ul li ul {
  background-color: #fdf1ec;
  max-width: 25rem;
  margin: 0 auto;
  display: none;
}
header.header nav ul li:first-child {
  margin-left: 0;
}
header.header .logo, header.header .nav-trigger {
  display: table-cell;
  vertical-align: middle;
}
header.header .logo {
  width: 200px;
}
header.header .site-tagline {
  margin-top: 0.35em;
}
header.header .logo-small {
  max-height: 4rem;
  max-width: 4rem;
  margin-right: 2rem;
  transform: scale(1.5);
}

body.menu-active .wrap, body.menu-active .hero, body.menu-active .home-sticky {
  -webkit-filter: blur(10px);
}
body.menu-active header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
body.menu-active header.header nav {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
  padding: 3em 1em;
  margin: 0;
  text-align: center;
  color: #737171;
  display: block;
  opacity: 1;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  font-size: 190%;
}
body.menu-active header.header nav .site-title {
  display: block;
}
body.menu-active header.header nav ul li.menu-inline, body.menu-active header.header nav ul li.menu-inline:hover, body.menu-active header.header nav ul li ul li, body.menu-active header.header nav ul li ul li:hover {
  display: inline-block;
}
body.menu-active header.header nav ul li ul {
  padding-bottom: 1em;
}
body.menu-active header.header nav ul li, body.menu-active header.header nav ul li:hover {
  display: block;
  margin: 0;
}
body.menu-active header.header nav ul li a, body.menu-active header.header nav ul li:hover a {
  display: block;
  padding: 0.25em 1em;
}
body.menu-active header.header nav ul ul {
  display: block;
  font-size: 80%;
  background-color: transparent;
}
body.menu-active header.header nav ul ul li a:before {
  content: ' - ';
}
body.menu-active header.header nav .table {
  display: table;
  width: 100%;
  height: 100%;
}
body.menu-active header.header nav .table .table-cell {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

body.sticky-menu .hero {
  padding-top: 4em;
}
body.sticky-menu.hero-off .home-sticky {
  margin-top: 4em;
}
body.sticky-menu header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
body.sticky-menu header.header:before {
  opacity: 0.8;
}
body.sticky-menu a.menu-trigger {
  z-index: 5;
}
body.sticky-menu .site-title {
  z-index: 5;
  position: relative;
  display: flex;
  align-items: center;
}
body.sticky-menu .wrap.full-wrap {
  padding-top: 6.5em;
}

.wrap {
  padding-left: 1em;
  padding-right: 1em;
}

.inner {
  padding: 3em 2em;
}

footer.footer {
  padding: 2em;
  display: table;
  width: 100%;
  text-align: center;
}

/* ==========================================================================
	2. Sharing
	========================================================================== */
.sharer {
  text-align: center;
}
.sharer li {
  padding-top: 1em;
}
.sharer li span {
  display: none;
}
.sharer li .twitter {
  color: #55acee;
}
.sharer li .facebook {
  color: #3c599f;
}
.sharer li .pinterest {
  color: #cb2027;
}

body.overlay-active header.header, body.overlay-active .wrap, body.overlay-active .hero, body.overlay-active .home-sticky {
  -webkit-filter: blur(10px);
}

span.i {
  position: absolute;
  left: -9999em;
}

.next-last.square a {
  color: #fff;
  font-size: 40px;
  font-size: 4rem;
}
.next-last.square a:hover {
  color: #fff;
}

/* ==========================================================================
	3. Home
	========================================================================== */
.js .hero {
  height: 100%;
  z-index: 4;
}
@media screen and (max-width: 1024px) {
  .js .hero {
    height: 75% !important;
  }
}

.section-title {
  margin-top: 4em;
  margin-bottom: -4em;
  padding-bottom: 0 !important;
}

.home-sticky-title-container {
  display: flex;
  align-items: start;
  justify-content: center;
}
.bike {
  max-width: 7rem;
  margin-left: 2rem;
}

h2.home-sticky-title {
  margin-bottom: 1em;
  text-align: center;
}
h2.home-sticky-title:before {
  content: '— ';
  display: inline-block;
  padding-right: 0.4em;
}
h2.home-sticky-title:after {
  content: ' —';
  display: inline-block;
  padding-left: 0.2em;
}

.home-sticky {
  padding: 2em 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: table;
  text-align: center;
  line-height: 0.7;
}
.hero .hero-inner {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
}
.hero .hero-inner .inner {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 4em;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .hero .hero-inner .inner {
    text-align: right;
  }
}

.hero h1 {
  margin: 0;
  font-size: 100px;
  font-size: 10rem;
  line-height: 0.9;
}
@media screen and (min-width: 450px) {
  .hero h1.large {
    font-size: 160px;
    font-size: 16rem;
  }
}

.hero .hero-inner .border {
  display: inline-block;
  width: auto;
  padding: 6px 0;
}
.hero .hero-inner .border.border-top {
  border-top: 2px solid #fff;
}
.hero .hero-inner .border.border-bottom {
  border-bottom: 2px solid #fff;
}

.hero .hero-line-one {
  font-size: 48px;
  font-size: 4.8rem;
}
@media screen and (min-width: 450px) {
  .hero .hero-line-one {
    font-size: 79px;
    font-size: 7.9rem;
  }
}
.hero .hero-line-two {
  font-size: 36px;
  font-size: 3.6rem;
}
@media screen and (min-width: 450px) {
  .hero .hero-line-two {
    font-size: 51px;
    font-size: 5.1rem;
  }
}

.hero .more-arrow {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
}
.hero .more-arrow:hover {
  opacity: 0.7;
}
.hero .more-arrow .fa {
  color: #fff;
  font-size: 25px;
  font-size: 2.5rem;
}
.hero .more-arrow span {
  position: absolute;
  left: -9999em;
}

.wrap {
  padding-top: 2em;
}

blockquote {
  margin-top: 1em;
}

.more-link {
  border: 2px solid #f08c79 !important;
  padding: 0.35em 0.75em 0.4em 0.75em;
  line-height: 1.3;
  display: block;
  vertical-align: middle;
  border-radius: 10em;
  max-width: 6em;
  text-align: center;
  margin: 2em auto 0 auto;
}
.more-link:hover {
  border: 2px solid #34495e !important;
}

p + .more-link {
  margin-top: 0;
}

/* ==========================================================================
	8. Back to top
	========================================================================== */
#btt {
  padding-top: 1em;
  display: block;
  font-size: large;
}
@media screen and (min-width: 700px) {
  #btt {
    float: right;
    text-align: right;
    padding-top: 0;
  }
}

/* ==========================================================================
	11. Header & Footer Widget Areas
========================================================================== */
.header-widgets, .footer-widgets {
  padding: 3em 0 0 0;
  display: table;
  width: 100%;
  text-align: center;
}

.footer-widgets {
  margin-top: 5em;
  padding: 2em 0 5em 0;
}

.widget {
  border-radius: 3px;
  padding: 1em;
}
.widget ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget ul li {
  padding: 0.25em 0;
}
.widget h4 {
  margin-bottom: 0.6em;
  text-align: center;
}
.widget h4:before {
  content: '— ';
  display: inline-block;
  padding-right: 0.2em;
}
.widget h4:after {
  content: ' —';
  display: inline-block;
  padding-left: 0.2em;
}

.contact-footer {
  display: flex;
  flex-wrap: wrap;
}
.contact-footer > * {
  flex: 1 1 28rem;
}

.networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.network {
  flex: 0 2 10rem;
  max-width: 16rem;
}

img.livret {
  max-height: 30rem;
  width: auto;
  display: block;
  margin: 0 auto;
}

.mt-about-you-widget {
  margin-top: 65px;
}
.mt-about-you-widget img.mt-about-avatar {
  border-radius: 500px;
  width: 125px;
  height: 125px;
  margin: -85px auto 20px auto;
  display: block;
}


/* ==========================================================================
	13. Typography
==========================================================================
*/
body, input[type="text"], input[type="email"], input[type="tel"],
input[type="url"], input[type="password"], textarea,
input[type="submit"] {
  font-family: 'Roboto Slab', Georgia, serif;
}

h1, h2, h3,
h4, h5, h6,
.more-link,
.content-aside,
blockquote,
.btn,
button,
.filter,
input[type="text"], input[type="url"], input[type="email"],
input[type="tel"], input[type="password"], textarea,
.btn, button, .button, input[type="submit"],
#edd_checkout_cart_wrap,
#edd_checkout_form_wrap,
header.header nav, .hero, #comments .url,
.form-submit input[type="submit"] {
  font-family: "Amatic SC", 'Heveltica Neue', Arial, sans-serif;
}

h1 {
  font-size: 48px;
  font-size: 4.8rem;
}

@media screen and (min-width: 450px) {
  h1.large {
    font-size: 168px;
    font-size: 16.8rem;
  }
}

h2 {
  font-size: 36px;
  font-size: 3.6rem;
}

h3 {
  font-size: 34px;
  font-size: 3.4rem;
}

h4 {
  font-size: 32px;
  font-size: 3.2rem;
}

h5, #comments .url {
  font-size: 30px;
  font-size: 3rem;
}

h6 {
  font-size: 28px;
  font-size: 2.8rem;
}

.renardeau {
  font-family: "Knewave";
  color: #6ab4b5;
}
.renardeau:after, .renardeau:before {
  content: none !important;
}

/* Font Sizes */
.site-tagline {
  font-size: 95%;
}

.quote-wrapper {
  margin: 0 auto;
}

.quote-wrapper blockquote {
  display: inline-block;
}

blockquote {
  padding-left: 1em;
  border-left: 1px solid #f08c79;
  text-align: left;
}

blockquote, .content-aside {
  font-size: 210%;
}

.wrap {
  font-size: 16px;
  font-size: 1.6rem;
}

.site-title {
  font-size: 35px;
  font-size: 3.5rem;
}

.more-link, header nav {
  font-size: 24px;
  font-size: 2.4rem;
}

.widget h2, .widget h3 {
  font-size: 28px;
  font-size: 2.8rem;
}

.widget ul {
  opacity: 0.65;
}

footer.footer, .widget {
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
}

/* Font Weights */
h1, h2, h3,
h4, h5, h6,
.more-link,
.content-aside,
blockquote,
.btn,
button,
.filter,
.btn, button, .button, input[type="submit"],
header.header nav, .hero, #comments .url,
.form-submit input[type="submit"],
.widget h4 {
  font-weight: 700;
}

.hero * {
  font-weight: 400;
}

.widget h4 {
  font-weight: 600;
}

blockquote {
  margin-bottom: 1em;
}
blockquote cite {
  font-size: 80%;
  padding-top: 1em;
  display: block;
}
blockquote cite:before {
  content: ' — ';
}
blockquote p {
  margin: 0;
}

/* Line Heights and Spacing */
p {
  margin: 1em 0 1.5em 0;
}

.widget p {
  margin: 0.5em 0;
}

.team-icons p {
  margin: 0;
}

.square.format-chat p {
  margin: 1em 0;
}

h1 + h2.sub-title {
  margin-top: 24px;
}

body {
  line-height: 1.6;
}

.site-title,
h1 {
  line-height: 1.1;
}

h2, h3,
h4, h5, h6 {
  line-height: 1.4;
}

/* Setup */
html {
  font-size: 52.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 55.5%;
  }

  h1.large {
    font-size: 178px;
    font-size: 17.8rem;
  }
}
@media screen and (min-width: 920px) {
  html {
    font-size: 62.5%;
  }

  h1.large {
    font-size: 208px;
    font-size: 20.8rem;
  }
}
/* ==========================================================================
  12. Colors
==========================================================================


/* Background Colours */
html, body {
  background-color: #fff8f5;
}

.hero {
  background-color: #f08c79;
}

button:hover, input[type="submit"]:hover {
  border-color: #34495e;
}

button:hover, input[type="submit"]:hover {
  opacity: 1;
}

/* Font Colours */
body {
  color: #737171;
}

a,
header.header nav ul > li.current_page_item > a,
header.header nav ul > li.current-menu-item > a,
header.header nav ul > li.current_page_ancestor > a,
header.header nav ul > li.current-page-ancestor > a,
header.header nav a:hover,
.widget a:hover {
  color: #f08c79;
}

body, blockquote {
  border-color: #f08c79;
}

a:hover h1.entry-title {
  color: #f08c79;
}

a:hover, a:hover,
.widget a, header.header nav a, footer.footer a:hover {
  color: #34495e;
}

.site-title a, .site-tagline, footer.footer, footer.footer a {
  color: #6ab4b5;
}

.hero {
  color: #fff;
}


/* ==========================================================================
    13. Shortcodes
  ========================================================================== */
.one_half, .one_third, .two_third {
  width: 100%;
}

.one_third + .one_third {
  margin-top: 40px;
}

.last {
  margin-right: 0 !important;
  clear: right;
}

.clearboth {
  clear: both;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

.clear {
  clear: both;
  display: block;
  width: 100%;
  float: left;
}

@media screen and (min-width: 700px) {
  .one_half,
  .one_third,
  .two_third {
    position: relative;
    margin-right: 4%;
    float: left;
  }

  .one_half {
    width: 48%;
  }

  .one_third {
    width: 30.66%;
  }

  .one_third + .one_third {
    margin-top: 0;
  }

  .two_third {
    width: 65.33%;
  }
}
.quotemark {
  text-align: center;
  font-weight: 700;
  font-size: 150%;
  margin-top: 30px;
  padding: 60px 10px 20px 10px;
  line-height: 1.2;
  position: relative;
  color: #34495e;
}

.quote-source {
  margin-top: 2em;
  font-size: 65%;
  text-align: right;
  position: relative;
}
.quote-source:before {
  content: '—';
}

.quote-rating-1, .quote-rating-2, .quote-rating-3, .quote-rating-4, .quote-rating-5 {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  height: 30px;
  background: url(/img/icons/stars.png) 50% 10px no-repeat;
}

.quote-rating-4 {
  background-position: 50% -30px;
}

.quote-rating-3 {
  background-position: 50% -70px;
}

.quote-rating-2 {
  background-position: 50% -110px;
}

.quote-rating-1 {
  background-position: 50% -150px;
}

.quotemark.white .quote-rating-1, .quotemark.white .quote-rating-2, .quotemark.white .quote-rating-3, .quotemark.white .quote-rating-4, .quotemark.white .quote-rating-5 {
  background-image: url(/img/icons/stars-white.png);
}

img.rounded {
  border-radius: 50%;
}

.status {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 10px;
  margin: 0.5em 0 1em 0;
}

.status.oops {
  background: #f9e1e1;
  border: 2px solid #eec4c4;
}

.status.less-oops {
  background: #fde8d9;
  border: 2px solid #e1c5af;
}

.status.ok {
  background: #d2ebd1;
  border: 2px solid #bad2ba;
}

.status p {
  margin: 0.5em 0;
}

a.btn,
a.button,
a.button:visited,
button,
input[type="submit"] {
  color: #f08c79 !important;
  padding: 1em 2.5em;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1em;
  font-weight: 700;
  text-decoration: none !important;
  border: 2px solid #f08c79 !important;
  border-radius: 50px;
  background-color: transparent;
  font-size: 20px;
  font-size: 2rem;
}

a.button.square {
  border-radius: 2px;
}

a.button.large,
a.btn.large {
  padding: 20px 70px;
}

a.button:hover,
a.btn:hover {
  border-color: #34495e !important;
  text-decoration: none;
  color: #34495e !important;
}

button:hover,
input[type="submit"]:hover {
  text-decoration: none;
  border-color: #34495e !important;
  color: #34495e !important;
  background-color: transparent !important;
}

a.button:active {
  position: relative;
  top: 1px;
}

a.button.grey {
  border-color: #757c7e !important;
  color: #757c7e !important;
}

a.button.grey:hover {
  border-color: #3e4345 !important;
  color: #3e4345 !important;
}

a.button.white {
  border-color: #fff !important;
  color: #333 !important;
}

a.button.white:hover {
  border-color: #efefef !important;
  color: #333 !important;
}

a.button.black {
  border-color: #333 !important;
  color: #333 !important;
}

a.button.black:hover {
  border-color: #000 !important;
  color: #000 !important;
}

a.button.green {
  border-color: #b3ce7e !important;
  color: #b3ce7e !important;
}

a.button.green:hover {
  border-color: #7e9b47 !important;
  color: #7e9b47 !important;
}

a.button.light-blue {
  border-color: #8aabb5 !important;
  color: #8aabb5 !important;
}

a.button.light-blue:hover {
  border-color: #4b7784 !important;
  color: #4b7784 !important;
}

a.button.blue {
  border-color: #3da1e3 !important;
  color: #3da1e3 !important;
}

a.button.blue:hover {
  border-color: #266476 !important;
  color: #266476 !important;
}

a.button.red {
  border-color: #f77564 !important;
  color: #f77564 !important;
}

a.button.red:hover {
  border-color: #b75548 !important;
  color: #b75548 !important;
}

a.button.orange {
  border-color: #f7a664 !important;
  color: #f7a664 !important;
}

a.button.orange:hover {
  border-color: #cf6916 !important;
  color: #cf6916 !important;
}

a.button.purple {
  border-color: #a18bcf !important;
  color: #a18bcf !important;
}

a.button.purple:hover {
  border-color: #6547a4 !important;
  color: #6547a4 !important;
}

a.button.pink {
  border-color: #e38f8f !important;
  color: #e38f8f !important;
}

a.button.pink:hover {
  border-color: #c76d6d !important;
  color: #c76d6d !important;
}

.mt-tabs .ui-tabs-hide {
  position: absolute;
  left: -99999em;
}

.mt-tabs {
  background: none;
  margin: 0 0 2em 0;
}

.mt-tabs ul.nav {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  background: none;
  border: 0;
  float: none;
}

.mt-tabs ul.nav li {
  float: left;
  position: relative;
  margin: 0 2px -1px 0 !important;
  z-index: 10;
  list-style: none !important;
}

.mt-tabs ul.nav li a {
  border: 1px solid #dfdfdf !important;
  border-bottom: none !important;
  display: block;
  overflow: hidden;
  padding: 5px 10px 2px 10px;
  height: 37px;
  background: #fcfcfc;
  margin: 0 !important;
  text-decoration: none;
  color: #373737 !important;
  border-radius: 3px 3px 0 0;
}

.mt-tabs ul.nav li a:hover {
  background: #fff !important;
  margin: 0 !important;
}

.mt-tabs ul.nav li.tab-active a {
  min-height: 36px;
  background: #fff;
}

.mt-tabs .tab {
  background: #fff;
  padding: 10px;
  border: 1px solid #dfdfdf;
}

.toggle {
  margin: 0 0 2em 0;
}

.toggle .toggle-title {
  display: block;
  padding: 10px 10px 10px 30px;
  background: #fcfcfc;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  outline: none;
  position: relative;
}

.toggle .toggle-title:hover {
  border: 1px solid #c5c5c5;
}

.toggle-inner {
  padding: 10px;
  background: #fff;
  border: 1px solid #c5c5c5;
  border-top: none;
}

.toggle .toggle-title:before {
  content: '';
  background: url(/img/icons/toggle-open.png) no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin: -6px 0 0 0;
}

.toggle .toggle-title.active:before {
  background: url(/img/icons/toggle-close.png) no-repeat;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

a.social {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  margin-bottom: 5px;
  -o-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-indent: -9999em;
  color: rgba(0, 0, 0, 0) !important;
  font-size: 1px;
  line-height: 22px;
  border: none !important;
}

a.social:hover {
  -o-transition: opacity 0.25s ease-in;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

a.social:first-of-type {
  margin-left: 0;
}

a.social.first {
  margin-left: 0;
}

a.social.twitter {
  background: url(/img/icons/social-twitter-black.png) 0 0 no-repeat;
}

a.social.facebook {
  background: url(/img/icons/social-facebook-black.png) 0 0 no-repeat;
}

a.social.linkedin {
  background: url(/img/icons/social-linkedin-black.png) 0 0 no-repeat;
}

a.social.youtube {
  background: url(/img/icons/social-youtube-black.png) 0 0 no-repeat;
}

a.social.pinterest {
  background: url(/img/icons/social-pinterest-black.png) 0 0 no-repeat;
}

a.social.instagram {
  background: url(/img/icons/social-instagram-black.png) 0 0 no-repeat;
}

a.social.rss {
  background: url(/img/icons/social-rss-black.png) 0 0 no-repeat;
}

@media screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .share a.icon-twitter {
    background-image: url(/img/icons/social-twitter-black@2x.png);
    background-size: 22px 22px;
  }

  .share a.icon-facebook {
    background-image: url(/img/icons/social-facebook-black@2x.png);
    background-size: 22px 22px;
  }

  .share a.icon-pinterest {
    background-image: url(/img/icons/social-pinterest-black@2x.png);
    background-size: 22px 22px;
  }

  a.social.twitter {
    background: url(/img/icons/social-twitter-black@2x.png) 0 0 no-repeat;
    background-size: 21px 21px;
  }

  a.social.facebook {
    background: url(/img/icons/social-facebook-black@2x.png) 0 0 no-repeat;
    background-size: 21px 21px;
  }

  a.social.linkedin {
    background: url(/img/icons/social-linkedin-black@2x.png) 0 0 no-repeat;
    background-size: 21px 21px;
  }

  a.social.youtube {
    background: url(/img/icons/social-youtube-black@2x.png) 0 0 no-repeat;
    background-size: 21px 21px;
  }

  a.social.pinterest {
    background: url(/img/icons/social-pinterest-black@2x.png) 0 0 no-repeat;
    background-size: 21px 21px;
  }

  a.social.instagram {
    background: url(/img/icons/social-instagram-black@2x.png) 0 0 no-repeat;
    background-size: 21px 21px;
  }

  a.social.rss {
    background: url(/img/icons/social-rss-black@2x.png) 0 0 no-repeat;
    background-size: 21px 21px;
  }

  a.flex-next, a.flex-prev {
    background-image: url(/img/icons/arrows@2x.png);
    background-size: 200px 13px;
  }

  .quotemark {
    background-size: 28px 19px;
  }

  .quote-rating-1, .quote-rating-2, .quote-rating-3, .quote-rating-4, .quote-rating-5 {
    background-image: url(/img/icons/stars@2x.png);
    background-size: 97px 176px;
  }

  .quotemark.white .quote-rating-1, .quotemark.white .quote-rating-2, .quotemark.white .quote-rating-3, .quotemark.white .quote-rating-4, .quotemark.white .quote-rating-5 {
    background-image: url(/img/icons/stars-white@2x.png);
    background-size: 97px 176px;
  }

  .toggle .toggle-title:before {
    background-image: url(/img/icons/toggle-open@2x.png);
    background-size: 12px 12px;
  }

  .toggle .toggle-title.active:before {
    background-image: url(/img/icons/toggle-close@2x.png);
    background-size: 12px 12px;
  }
}

/* Fonts */
body, input[type="text"], input[type="email"], input[type="tel"],
input[type="url"], input[type="password"], textarea,
input[type="submit"] {
  font-family: 'YesevaOne', Arial, sans-serif;
}

input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="password"], textarea {
  font-size: 16px;
  font-size: 1.6rem;
}

.sticky-inner {
  display: block;
  margin: 0 auto;
  max-width: 1680px;
}

.about-me-inner {
  margin-top: .5rem;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.8rem;
  text-align: justify;
}
.about-me-photo {
  flex: 1 1 20rem;
}
.about-me-photo img {
  max-width: 30rem;
  padding: 1rem;
  border-radius: 2000px;
  text-align: center;
}
.about-me-inner ul {
  text-align: left;
}
.about-me-desc {
  flex: 2 0 40rem;
}

.about-me-inner:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(/img/bg/brush14.webp) top right / 9rem no-repeat;
  width: 9rem;
  height: 10rem;
  top: 300vh;
  right: -2rem;
  opacity: .5;
  transform: rotate(-20deg);
}
.about-me-inner:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(/img/bg/brush15.webp) top right / 9rem no-repeat;
  width: 9rem;
  height: 10rem;
  top: 375vh;
  left: -3rem;
  opacity: .5;
  transform: rotate(20deg);
}
.about-me-inner > *:first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(/img/bg/brush16.webp) top right / 6.5rem no-repeat;
  width: 6.5rem;
  height: 10rem;
  top: 450vh;
  right: -2rem;
  opacity: .5;
}
.about-me-inner > *:first-child:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(/img/bg/brush17.webp) top left / 10rem no-repeat;
  width: 10rem;
  height: 6rem;
  top: 525vh;
  left: -3rem;
  opacity: .5;
}
@media screen and (min-width: 768px) {
  .about-me-inner:before,
  .about-me-inner:after,
  .about-me-inner > *:first-child:before,
  .about-me-inner > *:first-child:after {
    content: none;
  }
}

.veleau-inner {
  padding: 0 4rem;
  font-size: 1.8rem;
}
.veleau-columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
}
.veleau-column {
  font-size: 1.8rem;
  flex: 2 0 40rem;
  text-align: justify;
}
img.veleau-photo {
  max-width: 35rem;
  max-height: 35rem;
}

@media screen and (max-width: 700px) {
  body.menu-active .wrap, body.menu-active .hero, body.menu-active .home-sticky, body.overlay-active .wrap, body.overlay-active .hero, body.overlay-active .home-sticky {
    -webkit-filter: blur(0);
  }
  body.menu-active nav, body.overlay-active nav {
    background-color: rgba(255, 255, 255, 0.95);
  }
}

/* Text transforms */
.more-link, .btn,
h1, h2,
.more-link,
input[type="submit"],
header.header nav {
  text-transform: uppercase;
}

.footer-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.footer-wrap > * {
  margin-top: 1rem;
  flex: 1 1 16rem;
}
@media screen and (min-width: 992px) {
  #footer-text {
    flex: 1 1 48rem;
  }
}
@media screen and (min-width: 700px) {
  .footer-wrap {
    padding-right: 10rem;
  }
}

@media screen and (min-width: 640px) {
  .home-sticky {
    padding-bottom: 0;
  }
  
  .inner {
    padding: 3em;
  }
}

@media screen and (min-width: 768px) {
  .home-sticky {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .main .border {
    width: 9px;
  }

  header.header {
    padding-left: 1em;
    padding-right: 0;
  }
  header.header a.menu-trigger {
    display: none;
  }
  header.header nav {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: auto;
    opacity: 1;
    padding-right: 1em;
  }
  header.header nav ul li:hover ul {
    position: absolute;
    top: 100%;
    padding: 1em 0;
    left: 0;
    float: left;
    display: block;
    width: 10em;
    text-align: left;
  }
  header.header nav ul li:hover ul:before {
    content: '';
    position: absolute;
    top: 0.75em;
    left: 0;
    width: 100%;
    height: 90%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    margin-top: -1px;
  }
  header.header nav ul li:hover ul li {
    display: block;
    width: 100%;
    float: left;
    margin: 0;
    font-size: 92%;
  }
  header.header nav ul li:hover ul li a {
    display: block;
    padding: 0.35em 1em;
  }
}

@media screen and (min-width: 960px) {
  body.sticky-menu .wrap.full-wrap {
    padding-top: 5.5em;
  }

  .inner {
    padding: 3em 2em;
  }

  .wrap {
    display: table;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }
}

/* Recipe from: https://stackoverflow.com/a/30189173/636849 */
@media screen and (min-width: 768px) {
  .text-md-word-break { display: none; }
}
@media screen and (min-width: 992px) {
  .text-lg-word-break { display: none; }
}
@media screen and (min-width: 1200px) {
  .text-xl-word-break { display: none; }
}

/* ==========================================================================
  Animations
  ========================================================================== */

.animations {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.animation {
  max-width: 40rem;
  margin: 3rem;
}

.animation img {
  border-radius: 40%;
  max-width: 30rem;
}

.animation-name {
  font-family: "Knewave";
  font-size: 3rem;
}

/* ==========================================================================
  Wordcloud
  ========================================================================== */

.wordcloud {
  margin: 0 auto;
  max-width: 100rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wordcloud li {
  font-size: 3rem;
  padding: 2rem;
  margin: 2rem;
  width: 25rem;
  font-family: "Knewave";
  text-align: center;
  background: url(/img/brushes/PngItem_161660.webp) center no-repeat;
  background-size: contain;
  color: #333;
  animation: slightly-rotating 5s alternate infinite ease-in-out;
}
.wordcloud li:nth-child(2) {
  background-image: url(/img/brushes/PngItem_302055.webp);
}
.wordcloud li:nth-child(3) {
  background-image: url(/img/brushes/PngItem_302931.webp);
}
.wordcloud li:nth-child(4) {
  background-image: url(/img/brushes/PngItem_530511.webp);
}
.wordcloud li:nth-child(5) {
  background-image: url(/img/brushes/PngItem_5063569.webp);
}
.wordcloud li:nth-child(6) {
  background-image: url(/img/brushes/PngItem_5339167.webp);
}
.wordcloud li:nth-child(7) {
  background-image: url(/img/brushes/PngItem_3961492.webp);
}
.wordcloud li:nth-child(8) {
  background-image: url(/img/brushes/PngItem_1550439.webp);
}
.wordcloud li:nth-child(9) {
  background-image: url(/img/brushes/PngItem_5073568.webp);
}

@keyframes slightly-rotating {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

/* ==========================================================================
  Brush background effects
  ========================================================================== */

.brush-blue {
  background: url(/img/brushes/brush-blue.webp) -5px center no-repeat;
  background-size: auto 110%;
}
.brush-tangerine {
  background: url(/img/brushes/brush-tangerine.webp) -5px center no-repeat;
  background-size: auto 110%;
}
.brush-maya { /* Maya blue */
  background: url(/img/brushes/brush-maya-blue.webp) -5px center no-repeat;
  background-size: auto 110%;
}

.splash {
  display: inline-block;
  background: url(/img/bg/brush10.svg) center center no-repeat;
  padding: 8rem;
  padding-bottom: 6rem;
  padding-left: 5.5rem;
  margin: -2rem;
  margin-left: -5.5rem;
  font-size: 2rem;
  color: #333;
}

/* ==========================================================================
  Bubbles
  ========================================================================== */

.bubbles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.bubble-outer {
  margin-top: 4rem;
  max-width: 80rem;
  flex: 2 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bubble {
  width: 100%;
  background: url(/img/bubble-bg.svg) center no-repeat;
  background-size: cover;
  padding: 2rem 4rem;
}

@media screen and (min-width: 730px) {
  .bubble-outer {
    flex-direction: row;
  }
  .bubble-outer.lg-img-right {
    flex-direction: row-reverse;
  }
  .bubble {
    background-size: 100%;
    padding: 3rem 6rem;
  }
}

.bubble p {
  margin: 0;
  margin-top: .5rem;
}

.bubble-outer img {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  flex: 0 0 25rem;
  margin: 0 -3rem;
}
