<!DOCTYPE HTML>
<html lang="fr" class="home no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Renard'eau {% block title %}{% endblock %}</title>
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="angers,animation,contes,nature,approche ludique,eveil sensoriel,démarche expérimentale">
        <link rel="apple-touch-icon" href="icon.png"><!-- Default fallback: favicon.ico -->
        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
        {% if env.NO_ROBOTS or is_page_hidden %}
        <meta name="robots" content="noindex">
        {% endif %}

        <meta property="og:type" content="website">
        <meta property="og:title" content="Renard'eau">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:url" content="{{ root_url }}">
        <meta property="og:image" content="{{ root_url }}/img/cover.jpg">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Renard'eau">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="{{ root_url }}/img/cover.jpg">
        <!-- Disallow Twitter from using your site’s info for personalization purposes: -->
        <meta name="twitter:dnt" content="on">

        <meta name="geo.region" content="FR-49">
        <meta name="geo.placename" content="Angers, Maine et Loire">
        <meta name="geo.position" content="47.46667;-0.551">
        <meta name="ICBM" content="47.46667, -0.551">

        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "LocalBusiness",
          "name": "Renard'eau",
          "logo": "{{ root_url }}/icon.png",
          "image": [
            "{{ root_url }}/img/cover.jpg"
          ],
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": 47.46667,
            "longitude": -0.551
          },
          "url": "{{ root_url }}",
          "priceRange": "$",
          "telephone": "+33618202919",
          "email": "renardeau@gmail.com",
          "owns": {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "Laetitia Beschus",
            "telephone": "+33618202919",
            "email": "renardeau@gmail.com"
          },
          "areaServed": {
            "@type": "State",
            "name": "Maine et Loire"
          }
        }
        </script>

      <link rel="stylesheet" href="bundles/bundle-91fe520.css">
      <link rel="stylesheet" href="css/print.css" type="text/css" media="print">
      <!-- Async JS loading: -->
      <script src="bundles/bundle-73ab78b.js" defer></script>
      {% block extrahead %}{% endblock %}
    </head>
    <body class="home sticky-menu sidebar-off" id="top">

      <header class="header">
        <div class="header-wrap">

            <div class="logo">
                <div class="site-title">
                    <img class="logo-small" src="icon.png" alt="Logo petit renard" width="60" height="60">
                    <a href="/#top" class="renardeau smooth-scroll" title="Page d'accueil">Renard’eau</a>
                </div>
            </div><!-- /logo -->

            <nav id="nav">
                <div class="table">
                    <div class="table-cell">
                        <div class="site-title">
                            <img class="logo-small" src="icon.png" alt="Logo petit renard" width="60" height="60">
                            <a href="/#top" class="renardeau smooth-scroll" title="Page d'accueil">Renard’eau</a>
                        </div>
                        <ul>
                            <li>Animations
                                <ul>
                                    <li><a href="/eau-et-milieux-aquatiques.html">Eau et milieux aquatiques</a></li>
                                    <li><a href="/biodiversite.html">Biodiversité</a></li>
                                    <li><a href="/eveil-sensoriel.html">Éveil sensoriel</a></li>
                                    <li><a href="/contes.html">Contes</a></li>
                                    <!--li><a href="/fresques.html">Fresques</a></li-->
                                </ul>
                            </li>
                            <li><a href="/#about" class="smooth-scroll">Qui suis-je ?</a></li>
                            <li><a href="/#veleau" class="smooth-scroll">Vel'eau</a></li>
                            <li><a href="/#contact" class="smooth-scroll">Contact</a></li>
                            <li class="menu-inline">
                                <a title="Instagram" href="https://www.instagram.com/renardeau_animation" target="_blank">
                                    <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <a href="#nav" class="menu-trigger">
                <i class="fa fa-bars"><span class="i">Menu</span></i>
            </a>
        </div>

    </header>

    {% block body %}{% endblock %}

    <section class="contact-footer" id="contact">
        <div class="mt-about-you-widget">
            <div class="widget footer">

                <img loading="lazy" class="mt-about-avatar" src="img/about-me.webp" alt="Photo de Laetitia">

                <h2 class="renardeau">Renard’eau</h2>

                <p>Animation nature et contes</p>

                <p>
                    <i class="fa fa-map-marker"></i>
                    Maine-et-Loire, accessibilité train et vélo
                </p>

                <p>
                    <i class="fa fa-phone"></i>
                    <a href="javascript:(() => { window.location.href = atob('dGVsOiszMzYxODIwMjkxOQ=='); })()">
                        <img loading="lazy" alt="Adresse email" src="img/phone-number.jpg" style="display: inline; width: 11rem">
                    </a>
                </p>

                <p>
                    <i class="fa fa-envelope"></i>
                    <a href="javascript:(() => { window.location.href = atob('bWFpbHRvOnJlbmFyZGVhdUBtYWlsby5mcg=='); })()">
                        <img loading="lazy" alt="Adresse email" src="img/email-address.jpg" style="display: inline; width: 16rem">
                    </a>
                </p>

                <p>
                    <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                    <a title="Instagram" href="https://www.instagram.com/renardeau_animation" target="_blank">
                        renardeau_animation
                    </a>
                </p>

                <p>
                    Contactez-moi pour obtenir un devis,
                    <br class="text-lg-word-break">
                    ou pour toute question.
                </p>

            </div>
        </div>

        <div class="widget footer">
            <h3>Réseaux</h3>

            <p>
                Parce que c'est à plusieurs qu'on va plus loin,
                Renard’eau est membre des <a href="https://lesboitesavelo.org">Boîtes à vélo</a>
                et d’<a href="https://eco-formation.org/">Eco-Formation Pays de la Loire</a>
            </p>

            <div class="networks">
                <a href="https://lesboitesavelo.org">
                    <img loading="lazy" src="img/logo-BAV.png" alt="Les boîtes à vélo - Angers" class="network">
                </a>
                <a href="https://eco-formation.org/">
                    <img loading="lazy" src="img/logo-ecoformation-pdl.webp" alt="Eco-Formations Pays de la Loire" class="network">
                </a>
            </div>
        </div>

        <div class="widget footer">
            <h3>Livret écoles (PDF)</h3>

            <a href="files/CatalogueRenardeau.pdf" target="_blank">
                <img loading="lazy" src="img/LivretPedaEcole.webp" alt="Livret pédagogique PDF, 9 pages, 16 Mo" class="livret">
            </a>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-wrap">
            <a href="mentions-legales.html">Mentions légales</a>
            <a href="ecoconception.html">Éco-conception web</a>
            <div id="footer-text">
                Template&nbsp;: &copy; 2018 Itsy
                <br class="text-lg-word-break">
                - Design&nbsp;: <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>
                <br class="text-lg-word-break">
                - Intégration&nbsp;: <a href="https://chezsoi.org/lucas/">Lucas-C</a>
            </div>
        </div>
        <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
    </footer>
    </body>
</html>