{% extends "partials/base.html" %}
{% block title %}- Biodiversité{% endblock %}
{% block body %}
<div class="hero" style="background-image: url('/img/hands-with-bug.jpg');">
    <div class="hero-inner">
        <div class="inner">
            <h1>
                <span class="border border-bottom">Biodiversité</span>
            </h1>
        </div>
        <a class="more-arrow smooth-scroll" href="#main"><i class="fa fa-chevron-down"></i><span>Défiler plus bas</span></a>
    </div>
</div>
<div class="bgs"><div></div></div>
<main id="main" class="main inner bubbles">
    <div class="bubble-outer lg-img-right">
        <img loading="lazy" src="/img/insecte.webp" alt="Insecte sur une fleur">
        <div class="bubble">
            <h2>À la découverte des insectes</h2>
            <p>Découvrir les petites bêtes du compost, du jardin ou du milieu naturel&nbsp;: boîtes loupes et dessin d’observation.</p>
            <p>Développer ses connaissances naturalistes&nbsp;: clé de détermination, diversité et rôles.</p>
            <p>Distinguer les différentes parties du corps d’un insecte.</p>
        </div>
    </div>
    <div class="bubble-outer">
        <img loading="lazy" src="/img/plantes.jpg" alt="Fleur et fruits de la tomate">
        <div class="bubble">
            <h2>Autour des plantes</h2>
            <p>Acquérir le vocabulaire des différentes parties de la plante et leur fonction.</p>
            <p>Comprendre le cycle de vie d’une plante et la pollinisation&nbsp;: de la graine au fruit.</p>
            <p>Mettre les mains dans la terre. Potager, du jardinage à l’entretien&nbsp;: plantations, purin, désherbage.</p>
        </div>
    </div>
    <div class="bubble-outer lg-img-right">
        <img loading="lazy" src="/img/arbre.jpg" alt="Arbre">
        <div class="bubble">
            <h2>Les chaînes alimentaires</h2>
            <p>Découvrir les notions d’espèces, d’habitats, d’écosystèmes.</p>
            <p>Acquérir le vocabulaire adapté&nbsp;: producteurs, herbivores, carnivores, chaîne alimentaire.</p>
            <p>Comprendre les liens entre les espèces, leur rôle et leur interdépendance&nbsp;: réseau alimentaire.</p>
        </div>
    </div>
    <div class="bubble-outer">
        <img loading="lazy" src="/img/roue-renardeau.jpg" alt="Roue de la biodiversité">
        <div class="bubble">
            <h2>Roue de la biodiversité</h2>
            <p>Jeu coopératif de questions et de missions&nbsp;: traces et indices, identification, exploration...</p>
            <p>Contribuer à un objectif commun&nbsp;: remplir les nappes phréatiques&nbsp;!</p>
        </div>
    </div>
</main>
{% endblock %}
