{% extends "partials/base.html" %}
{% block title %}- Contes{% endblock %}
{% block body %}
<div class="hero" style="background-image: url('/img/table-in-river.webp')">
    <div class="hero-inner">
        <div class="inner">
            <h1>
                <span class="border border-bottom">Contes</span>
            </h1>
        </div>
        <a class="more-arrow smooth-scroll" href="#main"><i class="fa fa-chevron-down"></i><span>Défiler plus bas</span></a>
    </div>
</div>
<div class="bgs"><div></div></div>
<main id="main" class="main inner bubbles">
    <div class="bubble-outer lg-img-right">
        <img loading="lazy" src="/img/sirene-square.webp" alt="Village de lutins dans la forêt">
        <div class="bubble">
            <h2>Déverouiller l’imaginaire</h2>
            <p>S’inspirer de la nature pour développer l’imaginaire&nbsp;: écoute, observation, pratique manuelle, jeux.</p>
            <p>Initier une histoire en créant les différents éléments de base&nbsp;: adversaire, héros, lieux, objets.</p>
            <p>S’immerger dans la créativité&nbsp;: village de lutins, contes et légendes.</p>
        </div>
    </div>
    <div class="bubble-outer">
        <img loading="lazy" src="/img/river.jpg" alt="Rivière">
        <div class="bubble">
            <h2>Balade ou veillée contée</h2>
            <p>Percer les mystères de la nature, découvrir autrement le nom des plantes, des animaux, les interactions au sein du monde naturel.</p>
            <p>Développer la mémoire auditive et appréhender la structure d’un récit.</p>
            <p>Rêver, rire, se détendre, poser un nouveau regard.</p>
        </div>
    </div>
</main>
{% endblock %}
