{% extends "partials/base.html" %}
{% block title %}- Eau et milieux aquatiques{% endblock %}
{% block body %}
<div class="hero" style="background-image: url('/img/river-close.jpg');">
    <div class="hero-inner">
        <div class="inner">
            <h1>
                <span class="border border-bottom">Eau et milieux aquatiques</span>
            </h1>
        </div>
        <a class="more-arrow smooth-scroll" href="#main"><i class="fa fa-chevron-down"></i><span>Défiler plus bas</span></a>
    </div>
</div>
<div class="bgs"><div></div></div>
<main id="main" class="main inner bubbles">
    <div class="bubble-outer lg-img-right">
        <img loading="lazy" src="/img/lake-coast.webp" alt="Bord de lac">
        <div class="bubble">
            <h2>Le cycle naturel de l’eau</h2>
            <p>Prendre conscience de la présence de l’eau partout sous différents états.</p>
            <p>Expérimenter les mécanismes de passage des différents états de l’eau.</p>
            <p>Avoir une vision globale de cette circulation permanente&nbsp;: parcours d’une goutte d’eau.</p>
        </div>
    </div>
    <div class="bubble-outer">
        <img loading="lazy" src="/img/city-river.jpg" alt="Bord de lac">
        <div class="bubble">
            <h2>Cycle domestique de l’eau</h2>
            <p>Découvrir le parcours de production d’eau potable.</p>
            <p>Tester différentes techniques de traitement de l’eau&nbsp;: comment fonctionne une station d’épuration ?</p>
            <p>Prendre conscience de notre utilisation de l’eau au quotidien&nbsp;: usage direct et eau cachée.</p>
        </div>
    </div>
    <div class="bubble-outer lg-img-right">
        <img loading="lazy" src="/img/water-reflection.webp" alt="Réflexion dans l'eau">
        <div class="bubble">
            <h2>L’eau, une ressource précieuse</h2>
            <p>Développer un avis critique entre eau en bouteille et eau du robinet&nbsp;: bar à eau.</p>
            <p>Démontrer qu’une eau transparente n’est pas toujours potable.</p>
            <p>Expérimenter qu’une pollution impacte le milieu et les êtres vivants faune et flore&nbsp;: capillarité et peau de l’eau.</p>
        </div>
    </div>
    <div class="bubble-outer">
        <img loading="lazy" src="/img/kids-near-river.jpg" alt="Enfants jouant au bord d'une rivière">
        <div class="bubble">
            <h2>Petites bêtes & cie</h2>
            <p>Représenter un milieu&nbsp;: carte d’identité (morphologie, taille, profondeur).</p>
            <p>Prélever, observer et identifier les êtres vivants d’un milieu aquatique&nbsp;: pêche et dessin d’observation.</p>
            <p>Relier la présence d’espèces, leur rôle et la qualité de l’eau&nbsp;: espèces bio-indicatrices.</p>
        </div>
    </div>
</main>
{% endblock %}
