{% extends "partials/base.html" %}
{% block title %}- Éco-conception web{% endblock %}
{% block body %}
<div class="bgs" style="z-index: 1;"><div></div></div>
<main class="main inner" style="margin-top: 8rem;">
    <h1 style="text-align: center;">Éco-conception web</h1>
    <br>
    <p>La conception de ce site web vise la sobriété numérique :</p>
    <br>
    <ul>
        <li>Ce site web est <a href="https://fr.wikipedia.org/wiki/Page_web_statique">statique</a>, il n'emploie ni <a href="https://fr.wikipedia.org/wiki/Syst%C3%A8me_de_gestion_de_contenu">CMS</a>, ni base de donnée, ni <a href="https://en.wikipedia.org/wiki/Server-side_scripting"><em>server-side rendering</em></a></li>
        <li>L'hébergeur de ce site web, <a href="https://fr.wikipedia.org/wiki/Scaleway">Scaleway</a>, a un <a href="https://fr.wikipedia.org/wiki/Indicateur_d%27efficacit%C3%A9_%C3%A9nerg%C3%A9tique">indicateur d'efficacité énergétique</a> inférieur à 1,5&nbsp;: <a href="https://pue.dc3.scaleway.com/en/">PUE web</a></li>
        <li>Toutes les images du site ont été optimisées pour être de taille minimale</li>
        <li>Ce site n'emploie <b>aucun <a href="https://fr.wikipedia.org/wiki/Cookie_(informatique)">cookie</a></b> ni <em>tracking</em> d'aucune sorte</li>
        <li>Le contenu HTML est valide selon le <a href="https://validator.w3.org/nu/">validateur W3C</a></li>
        <li>Le score EcoIndex de ce site est <strong>B</strong>&nbsp;: <a href="https://www.ecoindex.fr/resultat/?id=97917614-b2d7-4438-977d-276e7b5c65b3">rapport d'analyse du 03/01/2024</a></li>
        <li>Les performances du site ont été analysées et optimisées avec <a href="https://pagespeed.web.dev">Google PageSpeed Insights</a> &amp; <a href="https://www.webpagetest.org">WebPageTest</a></li>
        <li>Les données structurées &amp; métadonnées ont été validées avec <a href="https://validator.schema.org">validator.schema.org</a>, <a href="https://search.google.com/test/rich-results">Google Rich Results Test</a> &amp; <a href="https://www.opengraph.xyz">opengraph.xyz</a></li>
    </ul>

    <br>
    <p>Les sources de ce site web (templates Jinja2, script Python de <em>build</em>...) sont librement accessible ici&nbsp;: <a href="https://framagit.org/renardeau/renardeau.frama.io">framagit.org/renardeau/renardeau.frama.io</a></p>
    <p>Cette version du site est la version {{version}}.</p>

    <br>
    <br>

    <h2>Volume de données</h2>
    <dl>
        <dt>Taille du CSS</dt><dd>{{ '%0.2f'|format(stats.css_size_in_mib|float) }} MiB</dd>
        <dt>Taille du Javascript</dt><dd>{{ '%0.2f'|format(stats.js_size_in_mib|float) }} MiB</dd>
        <dt>Taille totale des pages HTML</dt><dd>{{ '%0.2f'|format(stats.html_total_size_in_mib|float) }} MiB</dd>
        <dt>Taille totale des images</dt><dd>{{ '%0.2f'|format(stats.images_total_size_in_mib|float) }} MiB</dd>
        <dt>Taille totale des polices</dt><dd>{{ '%0.2f'|format(stats.fonts_total_size_in_mib|float) }} MiB</dd>
        <dt>Taille totale du site</dt><dd>{{ '%0.2f'|format(stats.total_size_in_mib|float) }} MiB</dd>
    </dl>
    <!-- Note : certaines conversions en WEBP augmentent la taille des images. -->
</main>
{% endblock %}
