{% extends "partials/base.html" %}
{% block title %}- Éveil sensoriel{% endblock %}
{% block body %}
<div class="hero" style="background-image: url('/img/prairie.jpg'); background-position-y: 10%">
    <div class="hero-inner">
        <div class="inner" style="margin-bottom: 2rem;">
            <h1>
                <span class="border border-bottom">Éveil sensoriel</span>
            </h1>
        </div>
        <a class="more-arrow smooth-scroll" href="#main"><i class="fa fa-chevron-down"></i><span>Défiler plus bas</span></a>
    </div>
</div>
<div class="bgs"><div></div></div>
<main id="main" class="main inner bubbles">
    <div class="bubble-outer lg-img-right">
        <img loading="lazy" src="/img/tressage-jonc.webp" alt="Tressage de jonc">
        <div class="bubble">
            <h2>Initiation tressage</h2>
            <p>Découvrir les plantes adaptées&nbsp;: jonc, osier, ronce...</p>
            <p>Développer la motricité fine et la fierté d’une réalisation éphémère&nbsp;: hochet, poisson, étoile...</p>
            <p>Prendre le temps et ancrer des techniques de pratique manuelle.</p>
        </div>
    </div>
    <div class="bubble-outer">
        <img loading="lazy" src="/img/stacked-rocks.jpg" alt="Pierres empilées dans la forêt">
        <div class="bubble">
            <h2>Les 5 sens dans la nature</h2>
            <p>Développer la créativité&nbsp;: <em>land art</em>, oeuvres collectives.</p>
            <p>S’amuser et prendre du plaisir&nbsp;: jeux de repérage dans l’espace, d’observation et d’écoute.</p>
            <p>Susciter la curiosité, l’enthousiasme et la prise d’initiatives&nbsp;: village de lutins, mini-cabanes.</p>
        </div>
    </div>
    <div class="bubble-outer lg-img-right">
        <img loading="lazy" src="/img/cutting-wood.jpg" alt="Découpe de bois">
        <div class="bubble">
            <h2>Jouets buissonniers</h2>
            <p>Créer simplement avec des ressources disponibles&nbsp;: bâteau de jonc, catapulte plantain.</p>
            <p>Développer l’estime et la confiance en soi.</p>
            <p>Apprendre et respecter des règles de sécurité&nbsp;: utilisation d’un opinel.</p>
        </div>
    </div>
</main>
{% endblock %}
