{% extends "partials/base.html" %}
{% block title %}- Fresques{% endblock %}
{% block body %}
<div class="hero" style="background-image: url('/img/?.jpg');">
    <div class="hero-inner">
        <div class="inner">
            <h1>
                <span class="border border-bottom">Fresques</span>
            </h1>
        </div>
        <a class="more-arrow smooth-scroll" href="#main"><i class="fa fa-chevron-down"></i><span>Défiler plus bas</span></a>
    </div>
</div>
<div class="bgs"><div></div></div>
<main id="main" class="main inner bubbles">
    <!-- Todo: do not exclude this page in gen.py when building sitemap.xml -->
</main>
{% endblock %}
