{% extends "partials/base.html" %}
{% block extrahead %}
    <!-- Preload largest image:  -->
    <link rel="preload" as="image" href="/img/lead.jpg">
{% endblock %}
{% block body %}
<div class="bgs" style="top: 100vh;"><div></div></div>
<div class="hero" style="background-image: url('/img/lead.jpg');">
    <div class="hero-inner">
        <div class="inner">
            <h1 class="large">
                <span class="border border-top border-bottom">Renard’eau</span>
            </h1>
            <div class="hero-line-two">
                <span class="border border-bottom">Animation nature et contes</span>
            </div>
        </div>
        <a class="more-arrow smooth-scroll" href="#animations"><i class="fa fa-chevron-down"></i><span>Défiler plus bas</span></a>
    </div>
</div>
<div class="home-sticky" id="animations">
    <h2 class="home-sticky-title">Animations</h2>
    <ul class="animations">
        <li class="animation"><a href="/eau-et-milieux-aquatiques.html">
            <img src="/img/river-close.jpg" alt="" width="300" height="225">
            <div class="animation-name">Eau et milieux aquatiques</div>
        </a></li>
        <li class="animation"><a href="/biodiversite.html">
            <img loading="lazy" src="/img/hands-with-bug.jpg" alt="" width="300" height="225">
            <div class="animation-name">Biodiversité</div>
        </a></li>
        <li class="animation"><a href="/eveil-sensoriel.html">
            <img loading="lazy" src="/img/prairie.jpg" alt="" width="300" height="225">
            <div class="animation-name">Éveil sensoriel</div>
        </a></li>
        <li class="animation"><a href="/contes.html">
            <img loading="lazy" src="/img/table-in-river.webp" alt="" width="300" height="225">
            <div class="animation-name">Contes</div>
        </a></li>
        <!--li class="animation"><a href="/fresques.html">
            <img loading="lazy" src="/img/?.jpg" alt="" width="300" height="225">
            <div class="animation-name">Fresques</div>
        </a></li-->
    </ul>
</div>

<section class="home-sticky" id="about">
    <h2 class="home-sticky-title">Qui suis-je ?</h2>
    <div class="about-me-inner" style="flex-direction: row">
        <aside class="about-me-photo">
            <img loading="lazy" src="img/about-me2.jpg" alt="">
            <h3 class="entry-title">Laetitia Beschus</h3>
        </aside>
        <div class="about-me-desc">
            <p>Originaire de l’Anjou, j'ai exercé pendant 15 ans en tant qu'animatrice/éducatrice à l’environnement dans différentes associations environnementales,
               culturelles et de loisirs (CPIE, Les Petits Débrouillards, Accueils Collectifs de Mineurs…)</p>
            <p>J’interviens aussi bien auprès de public enfants (à partir de 3 ans), adolescents, adultes ou séniors.
               Mes ateliers peuvent se dérouler en milieu scolaire, dans des lieux culturels, à l'occasion d'événements…
            </p>
            <img src="img/renard.webp" alt="" style="width: 20rem; height: 20rem; opacity: .5; float: right">
            <p class="splash">Formations</p>
            <ul>
              <li>Master en biologie et écologie des milieux aquatiques</li>
              <li>BAFA</li>
              <li>Certification permaculture</li>
              <li>Communication non-violente</li>
            </ul>
            <p class="splash" style="margin-top: 2rem">Démarche&nbsp;:</p>
        </div>
    </div>
    <div class="about-me-inner">
        <ul class="wordcloud">
            <li>Approche ludique</li>
            <li>Contact avec la nature</li>
            <li>Coopération</li>
            <li>Démarche expérimentale</li>
            <li>Pratique manuelle</li>
            <li>Prendre soin</li>
        </ul>
    </div>
</section>

<section class="home-sticky" id="veleau">
    <div class="home-sticky-title-container">
        <h2 class="home-sticky-title">Vel'eau</h2>
        <img loading="lazy" src="img/bike.svg" alt="" class="bike">
    </div>
    <div class="veleau-inner">
        <div class="veleau-columns">
            <img loading="lazy" src="img/veleau2.webp" alt="" class="veleau-photo">
            <div class="veleau-column">
                <p>Convaincue par la mobilité douce et le développement local, je privilégie des déplacements courts
                    et c’est avec mon vélo et ma petite charrette que je me balade et vous rends visite le plus souvent.</p>
                <p>Pollution atmosphérique, bruit, encombrement des espaces, le transport est source de nombreux désagréments humains
                    et d'impacts environnementaux. C’est un levier efficace pour proposer une offre de prestations cohérente avec mes valeurs.</p>
                <p>Prendre le temps d'un trajet implique une organisation différente et d'animer avec moins de support.
                    Mais est-ce qu'une bonne animation se mesure à la quantité de matériel ?</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
