{% extends "partials/base.html" %}
{% block title %}- Mentions légales{% endblock %}
{% block body %}
<div class="bgs" style="z-index: 1;"><div></div></div>
<main class="main inner" style="margin-top: 8rem;">
    <h1>Mentions Légales</h1>
    <br>

    <ul>
        <li>EI Laetitia BESCHUS</li>
        <li>Numéro SIRET&nbsp;: 94849938900013</li>
        <li>Numéro TVA&nbsp;: FR75948499389</li>
    </ul>

    <p>L'entreprise est bénéficiaire d'un contrat d'appui au projet d'entreprise signé avec CDP49 (art. L127-1 à L127-7 du code du commerce), SCOP à capital variable
    <br>C.D.P. 49 - 458 bis rue St Léonard - 49000 Angers
    <br>Numéro SIRET&nbsp;: 490 314 887 00038
    <br>Numéro TVA&nbsp;: FR07490314887</p>
    <br>

    <h2>Directeur de la Publication</h2>
    <p>Ce site est édité par Lucas Cimon.</p>
    <p>En cas de retours, réclamation ou questions sur le contenu de ce site, je vous propose de m’adresser un courrier électronique
        <a href="javascript:(() => { window.location.href = atob('bWFpbHRvOmx1Y2FzLmNpbW9uQGdtYWlsLmNvbQ=='); })()">en cliquant ici</a>,
        et je me ferai un plaisir de vous répondre consciencieusement dans les plus brefs délais.</p>
    <br>

    <h2>Hébergement</h2>
    <p>Ce site est hébergé par <a href="https://www.scaleway.com/fr/mentions-legales/">Scaleway</a>&nbsp;:</p>
    <ul>
        <li>SCALEWAY SAS BP 438 75366 PARIS CEDEX 08 FRANCE</li>
        <li>SIREN&nbsp;: 433 115 904 RCS Paris</li>
        <li>N° de TVA intracommunautaire&nbsp;: FR 35 433115904</li>
        <li>Siège social&nbsp;: 8 rue de la Ville l’Evêque, 75008 Paris</li>
    </ul>
    <br>
    <br>

    <h2>RGPD</h2>
    <h3>Utilisation de cookies</h3>
    Le site web Renard'eau vous informe qu’aucun cookie n'est généré lorsqu'un internaute navigue sur ce site web.
    <h3>Stockage des données</h3>
    Le site web Renard'eau ne stocke aucune données relatives aux visiteurs du site.
    <br>
</main>
{% endblock %}
