{% extends "partials/base.html" %}
{% block title %}- Style guide{% endblock %}
{% block body %}
<div class="bgs" style="z-index: 1;"><div></div></div>
<main class="main inner" style="margin-top: 8rem;">
    <h1 style="text-align: center;">Style guide</h1>
    <br>

    <h2>Blockquotes</h2>
    <blockquote><p>Hi there! I’m a bike messenger by day, aspiring actor by night, and this is my blog. I live in Los Angeles, have a great dog named Jack, and I like piña coladas. (And gettin’ caught in the rain.)</p></blockquote>

    <h3>Quotes with Ratings</h3>
    <div class="quotemark ">
        <div class="quote-source">Source of Quote</div>
        <div class="quote-rating-3"></div>
    </div>

    <h2>Lists</h2>
    <ol>
        <li>Apple</li>
        <li>Lemon</li>
        <li>Orange</li>
    </ol>
    <br>
    <ul>
        <li>Apple</li>
        <li>Lemon</li>
        <li>Orange</li>
    </ul>

    <br><hr><br>

    <h2>Description List</h2>
    <p>Cryptids of Cornwall:</p>
    <dl>
        <dt>Beast of Bodmin</dt>
        <dd>A large feline inhabiting Bodmin Moor.</dd>
        <dt>Morgawr</dt>
        <dd>A sea serpent.</dd>
        <dt>Owlman</dt>
        <dd>A giant owl-like creature.</dd>
    </dl>

    <br><hr><br>

    <h2>Wordcloud list</h2>
    <ul class="wordcloud">
        <li>Apple</li>
        <li>Banana</li>
        <li>Grapefruit</li>
        <li>Lemon</li>
        <li>Mango</li>
        <li>Orange</li>
        <li>Papaya</li>
        <li>Pineapple</li>
        <li>Watermelon</li>
    </ul>

    <br><hr><br>

    <h2>Paragraphs with brushes</h2>
    <p class="brush-tangerine">Tangerine</p>
    <p class="brush-blue">Bleu</p>
    <p class="brush-maya">Bleu maya</p>

    <br><hr><br>

    <h2>Paragraph with splash</h2>
    <p class="splash">
        An old silent pond<br>
        A frog jumps into the pond—<br>
        Splash! Silence again.
    </p>

    <br><hr><br>

    <h2>Bubbles</h2>
    <div class="bubbles">
        <div class="bubble-outer lg-img-right">
            <img loading="lazy" src="/img/insecte.webp" alt="Insecte sur une fleur">
            <div class="bubble">
                <h2>Some subtitle</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Fusce at risus at lacus laoreet mollis sed id elit.</p>
                <p>Integer bibendum lobortis velit, eleifend commodo dui facilisis nec.</p>
                <p>Aliquam mi sapien, ultrices a ultrices non, sodales ut diam.</p>
            </div>
        </div>
        <div class="bubble-outer">
            <img loading="lazy" src="/img/plantes.jpg" alt="Fleur et fruits de la tomate">
            <div class="bubble">
                <h2>Some other subtitle</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Fusce at risus at lacus laoreet mollis sed id elit.</p>
                <p>Integer bibendum lobortis velit, eleifend commodo dui facilisis nec.</p>
                <p>Aliquam mi sapien, ultrices a ultrices non, sodales ut diam.</p>
            </div>
        </div>
    </div>

    <br><hr><br>

    <h2>Heading Two</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam.</p>
    <h3>Heading Three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam.</p>
    <h4>Heading Four</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam.</p>

    <br><hr><br>

    <h3>Rounded image insert…</h3>
    <img loading="lazy" class="rounded livret" src="img/about-me.webp" alt="Avatar">

    <br><hr><br>

    <h3>Statuses</h3>
    <div class="status oops">Oh nos! something has gone wrong!</div>
    <div class="status less-oops">Ok, its not as bad now!</div>
    <div class="status ok">Phew! Back to normal!</div>

    <br><hr><br>

    <h3>Buttons</h3>
    <h4>Standard</h4>
    <p><a target="_blank" class="button grey" href="#">Button</a>&nbsp;<a target="_blank" class="button black" href="#">Button</a>&nbsp;<a target="_blank" class="button green" href="#">Button</a><br>
        <a target="_blank" class="button light-blue" href="#">Button</a> <a target="_blank" class="button blue" href="#">Button</a> <a target="_blank" class="button red" href="#">Button</a><br>
        <a target="_blank" class="button orange" href="#">Button</a> <a target="_blank" class="button purple" href="#">Button</a> <a target="_blank" class="button pink" href="#">Button</a></p>
    <h4>Supersized (Large)</h4>
    <p><a target="_blank" class="button large grey" href="#">Button</a>&nbsp;<a target="_blank" class="button large black" href="#">Button</a>&nbsp;<a target="_blank" class="button large green" href="#">Button</a><br>
        <a target="_blank" class="button large light-blue" href="#">Button</a> <a target="_blank" class="button large blue" href="#">Button</a> <a target="_blank" class="button large red" href="#">Button</a><br>
        <a target="_blank" class="button large orange" href="#">Button</a> <a target="_blank" class="button large purple" href="#">Button</a> <a target="_blank" class="button large pink" href="#">Button</a></p>

        <h3>Social Icons</h3>
        <p>
            <a target="_self" class="social facebook black" href="#">Facebook</a>
            <a target="_self" class="social twitter black" href="#">Twitter</a>
            <a target="_self" class="social linkedin black" href="#">Linkedin</a>
            <a target="_self" class="social youtube black" href="#">Youtube</a>
            <a target="_self" class="social pinterest black" href="#">Pinterest</a>
            <a target="_self" class="social instagram black" href="#">Instagram</a>
            <a target="_self" class="social rss black" href="#">RSS</a>
        </p>

    <h3>Tabs</h3>
    <div id="tabs-54" class="mt-tabs">
        <ul class="nav clearfix">
            <li class="tab-active"><a href="#tab-1">Tab 1</a></li>
            <li><a href="#tab-2">Tab 2</a></li>
            <li><a href="#tab-3">Tab 3</a></li>
        </ul>
        <div id="tab-1" class="tab" style="display: block">Tab Content 1</div>
        <div id="tab-2" class="tab" style="display: none">Tab Content 2</div>
        <div id="tab-3" class="tab" style="display: none">Tab Content 3</div>
    </div>

    <h3>Toggles</h3>
    <div data-id="open" class="toggle">
        <span class="toggle-title active">Toggle 1</span>
        <div class="toggle-inner" style="display: block;">
            <p>Toggle Content 1</p>
            <p>Toggle Content 1</p>
            <p>Toggle Content 1</p>
        </div>
    </div>
    <div data-id="closed" class="toggle">
        <span class="toggle-title">Toggle 2</span>
        <div class="toggle-inner" style="display: none;">
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2</p>
            <p>Toggle Content 2 </p>
        </div>
    </div>

    <h3>Columns</h3>
    <div class="one_half"><p></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor.</p>
    </div>
    <div class="one_half last"><p></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor.</p>
    </div>
    <div class="clearboth"></div>
    <div class="one_third"><p></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor.</p>
    </div>
    <div class="one_third"><p></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor.</p>
    </div>
    <div class="one_third last"><p></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor.</p>
    </div>
    <div class="clearboth"></div>
</main>
{% endblock %}
